UFO.Commander/UFO.Services.Generated/Service References/Services.AdminAccess/AdminAccess3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/AdminAccess?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" />
  <xs:element name="ModifyArtistRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q1:SessionToken" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artists" nillable="true" type="q2:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtistRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyArtistRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q3:SessionToken" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="performance" nillable="true" type="q4:Performance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePerformanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocationRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q5:SessionToken" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="locations" nillable="true" type="q6:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocationRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyLocationRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q7:SessionToken" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="location" nillable="true" type="q8:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q9:SessionToken" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="location" nillable="true" type="q10:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q11:SessionToken" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venues" nillable="true" type="q12:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyVenueRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q13:SessionToken" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="performances" nillable="true" type="q14:ArrayOfPerformance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPerformanceRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q15:SessionToken" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q16:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetUserResult" nillable="true" type="q17:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUserPagingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q18:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUserPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestUserPagingDataResult" nillable="true" type="q19:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q20:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAuthenticatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q21:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q22:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q23:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSessionToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="user" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSessionTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestSessionTokenResult" nillable="true" type="q25:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q26:SessionToken" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artist" nillable="true" type="q27:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q28:SessionToken" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artist" nillable="true" type="q29:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q30:SessionToken" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venue" nillable="true" type="q31:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyVenueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q32:SessionToken" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venue" nillable="true" type="q33:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveVenueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q34:SessionToken" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="performance" nillable="true" type="q35:Performance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPerformanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>