UFO.Commander/UFO.Services.Generated/Service References/Services.ViewAccess/ViewAccess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/ViewAccess?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" />
  <xs:element name="ModifyArtistRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q1:SessionToken" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artists" nillable="true" type="q2:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtistRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyArtistRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q3:SessionToken" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venues" nillable="true" type="q4:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyVenueRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q5:SessionToken" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="performances" nillable="true" type="q6:ArrayOfPerformance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPerformanceRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q7:SessionToken" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q8:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetUserResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUserPagingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q10:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUserPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestUserPagingDataResult" nillable="true" type="q11:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q12:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAuthenticatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q13:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q14:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q15:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSessionToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="user" nillable="true" type="q16:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSessionTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestSessionTokenResult" nillable="true" type="q17:SessionToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q18:SessionToken" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artist" nillable="true" type="q19:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q20:SessionToken" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="artist" nillable="true" type="q21:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q22:SessionToken" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venue" nillable="true" type="q23:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyVenueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q24:SessionToken" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="venue" nillable="true" type="q25:Venue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveVenueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="token" nillable="true" type="q26:SessionToken" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="performance" nillable="true" type="q27:Performance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPerformanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestArtistPagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestArtistPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestArtistPagingDataResult" nillable="true" type="q28:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCategoryPagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCategoryPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestCategoryPagingDataResult" nillable="true" type="q29:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCountryPagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCountryPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestCountryPagingDataResult" nillable="true" type="q30:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLocationPagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLocationPagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestLocationPagingDataResult" nillable="true" type="q31:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPerformancePagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPerformancePagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestPerformancePagingDataResult" nillable="true" type="q32:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestVenuePagingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestVenuePagingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="RequestVenuePagingDataResult" nillable="true" type="q33:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q34:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetArtistResult" nillable="true" type="q35:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformancesPerDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformancesPerDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetPerformancesPerDateResult" nillable="true" type="q36:ArrayOfPerformance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q37:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q38:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q39:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetCountriesResult" nillable="true" type="q40:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q41:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetLocationsResult" nillable="true" type="q42:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q43:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetVenuesResult" nillable="true" type="q44:ArrayOfVenue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformances">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="page" nillable="true" type="q45:PagingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" minOccurs="0" name="GetPerformancesResult" nillable="true" type="q46:ArrayOfPerformance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>