UFO.Commander/UFO.Services.Generated/Service References/Services.ViewAccess/ViewAccess4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UFO.Server.Bll.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UFO.Server.Bll.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/ViewAccess?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4321/ViewAccess?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" />
  <xs:complexType name="SessionToken">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_SessionId_x003E_k__BackingField" nillable="true" type="q1:ArrayOfchar" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" name="_x003C_User_x003E_k__BackingField" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionToken" nillable="true" type="tns:SessionToken" />
</xs:schema>