UFO.Commander/UFO.Commander.Services.Generated/Service References/Server/AuthAccessBll2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UFO.Server.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_Artist_x003E_k__BackingField" nillable="true" type="tns:Artist" />
      <xs:element name="_x003C_EMail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsAdmin_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsArtist_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Artist">
    <xs:sequence>
      <xs:element name="_x003C_ArtistId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Category_x003E_k__BackingField" nillable="true" type="tns:Category" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="tns:Country" />
      <xs:element name="_x003C_EMail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Picture_x003E_k__BackingField" nillable="true" type="tns:BlobData" />
      <xs:element name="_x003C_PromoVideo_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="_x003C_CategoryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="_x003C_Code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="BlobData">
    <xs:sequence>
      <xs:element name="_x003C_DataStream_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Path_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlobData" nillable="true" type="tns:BlobData" />
</xs:schema>